body {
    min-height: 2000px;
    font-family: "Lato", sans-serif;
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /* display: flex; */
}

.navbar-static-top {
    margin-bottom: 19px;
    background-image: none;
    background-color: rgba(0, 255, 221, 0.3);
    border-width: 0px;
}

.header {
    font-size: 47px;
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background-color: rgba(0, 255, 221, 1);
}

.top-buffer { margin-top: 40px; }
.small-buffer { margin-top: 10px; }

.top-bar {
    border-top: 3px solid rgba(0, 255, 221, 0.3);
}

.card {
    background-color: rgba(0, 255, 221, 0.3);
    /* border-width-left: 5px; */
    /* margin-width-right: 5px; */
    padding: 10px;
    /* height: 330px; */
    margin-bottom: 25px;
    /* border-width-botton: 5px; */
}

.indent {
    margin-left: 10px;
}

.codeheader {
    font-size: 24px;
}

.logo {
    position: relative;
}

.logo img {
    position: absolute;
    top: 0px;
    right: 0px;
}

.sideheader {
    margin-top: 10px;
}

.icon {
    padding-bottom: 13px;
    padding-left: 2px;
    padding-right: 2px;
}

.icons {
    padding-top: 8px;
}

.equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
    flex-wrap: wrap;
}
