---
title: "Community Members"
layout: default
comment: >-
  Active members of the benchmarking effort
---

{% include title.html %}

<div class="container top-bar-thin">
  <div class="row small-buffer">
    <div class="col l2 m12 s12">
      <h5 class="sideheader">
        Members
      </h5>
    </div>
    <div class="col s10">
      {% for item in site.data.community %}
        <div class="col s4">
          <div class="card small light-green lighten-4">
            <div class="card-content">
              <span class="card-title">
                <a href="{{ item.home }}"
                   target="_blank"
                   title="home page">
                  {{ item.name }}
                </a>
              </span>

              <img class="circle"
                   src="{{ item.avatar }}"
                   alt="">

              <br>
              <a href="mailto:{{ item.email }}"
                 target="blank_"
                 title="email">
                <i class="small material-icons">
                   email
                </i>
              </a>
              <a href="https://github.com/{{ item.github_id }}"
                 target="blank_"
                 title="github">
                <i class="small material-icons">
                  <img src="{{ site.baseurl }}/images/github-blue.svg"
                       class="github"
                       alt="github">
                </i>
              </a>
              {% if item.twitter %}
                <a href="https://twitter.com/{{ item.twitter }}"
                   target="blank_"
                   title="twitter">
                  <i class="small material-icons">
                    <img src="{{ site.baseurl }}/images/twitter-blue.svg"
                         alt="twitter"
                         class="github">
                  </i>
                </a>
              {% endif %}
              <p>
                {{ item.text }}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container">
  <div class="row small-buffer">
    <div class="col s8 offset-s2" id="overview">
      <div class="flow-text" style="font-size: 20px">
        Is your sketch missing from the gallery? Please e-mail the
        <a href="mailto:{{ site.admin_email }}">
          site admin
        </a>
        with the following details:
        <ul class="comment-list">
          <li>Your name, e-mail address, and home page</li>
          <li>Your professional handles on GitHub and social media (<em>e.g.</em> Twitter)</li>
          <li>A link to your preferred photograph or avatar</li>
          <li>A biographical sketch concisely summarizing your engagement with phase-field methods</li>
        </ul>
        You will be contacted for any necessary clarification.
      </div>
    </div>
  </div>
</div>
