---
layout: default
comment: >-
  Integrating the phase field community
---

{% include title.html %}
{% include hexbin.html %}

{% include wiki-nav.html %}

<div id="twitter-right">
  {% include twitter.html %}
</div>


<div class="container small-buffer">
  <div class="row">
    <div class="col s12 m12 l12 xl8 offset-xl2" id="overview">
      <div class="flow-text mission-statement">
        <p>
          Welcome to the {{ site.title }}! If you're a beginner,
          you'll soon find resources and a crash course on the
          technique. If you're an expert, you'll find tools to verify
          and showcase the quality of your simulations. If you're
          anywhere in-between, you'll find a community built around a
          shared interest in phase-field and a commitment to opening
          up our research for the benefit of all.
        </p>
      </div>
    </div>
  </div>
</div>


{% include benchmarks.html upload=true %}

<div class="container">
  <center>
    <div id="twitter-bottom">
      {% include twitter.html %}
    </div>
  </center>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{% include ribbon.html %}
