---
layout: default
comment: >-
  Integrating the phase field community
---

{% include title.html %}
{% include hexbin.html %}

<a class="twitter-timeline"
   data-height="400"
   data-width="250"
   href="https://twitter.com/hashtag/chimadphasefield"
   data-widget-id="838863917266911234">
  #chimadphasefield
</a>

<div class="container" id="title-page-text">
  <div class="row small-buffer">
    <div class="col l2 m12 s12">
    </div>
    <div class="col s10 offset-s1" id="overview">
      <div class="flow-text mission-statement">
        <p>
          In January 2015 a group of phase field theorists and code
          developers met at Northwestern University to discuss ways
          for the community to improve code collaboration
          efforts. Everyone agreed that the community needs to become
          more open and work in a more collaborative manner.
        </p>
        <p>
          A key factor to improving community code collaboration is to
          develop resources to compare and contrast phase field codes
          and libraries. This site aims to provide some of these
          resources and become a useful web service for phase field
          practitioners.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container top-bar-thin top-buffer">
  <div class="row small-buffer">
    <div class="col l2 m12 s12">
      <h5 class="sideheader">
        The Benchmarks
      </h5>
    </div>
    <div class="col s10 small-buffer">
      <div class="flow-text describe">
        Benchmark problems vetted by the community to test, validate and verify phase field codes
      </div>

      <div id="upload-button">
        <a class="waves-effect waves-light btn blue lighten-3"
           href="/chimad-phase-field/simulations/upload_form"
           target="_blank">
          Upload a New Benchmark Result
        </a>
        <h6>
          <br>
          Total Uploads: {{ site.data.data_table.data | size }}
        </h6>
      </div>

      {% for item in site.data.benchmarks %}
      <div class="col l4 m6 s12 small-buffer">
        <div class="card small light-green lighten-4">
          <div class="card-content benchmark">

            <img class="circle"
                 src="{{ item.image }}"
                 alt="">

            <span class="card-title">
              <a href="{{ site.baseurl }}/{{ item.url }}">
                {{item.num}}. {{ item.title }} <br><br>
              </a>
            </span>


            <div class="flow-text">
              <p>
                {{ item.description }}
              </p>
            </div>

            <h6>
              Total Uploads:
              <span id="uploads{{ item.num }}">
              </span>
            </h6>

            <div>
              <a href="{{ site.baseurl }}/{{ item.url }}"
                 title="">
                Specification
              </a>
            </div>

            <div>
              Results:
              {% for subitem in item.results %}
              <a href="{{ site.baseurl }}/simulations/{{ subitem }}"
                 title="">
                {{ subitem }}
              </a>
              |
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



<script>
  var DATA={{ site.data.simulations | jsonify }}
</script>
{% for item in site.data.benchmarks %}
<script>
  var BENCHMARK_NUM={{ item.num }}
  var TAG="#uploads{{ item.num }}"
</script>
<script src={{ site.baseurl }}/js/uploads.js>
</script>
{% endfor %}
