<option value="i386">i386</option>
<option value="i686">i686</option>
<option value="x86_64" selected>x86_64</option>
<option value="ia64">ia64</option>
<option value="alpha">alpha</option>
<option value="amd64">amd64</option>
<option value="arm">arm</option>
<option value="armeb">armeb</option>
<option value="armel">armel</option>
<option value="armv6l">armv6l</option>
<option value="armv7l">armv7l</option>
<option value="hppa">hppa</option>
<option value="k1om">k1om</option>
<option value="m32r">m32r</option>
<option value="m68k">m68k</option>
<option value="mips">mips</option>
<option value="mipsel">mipsel</option>
<option value="powerpc">powerpc</option>
<option value="ppc">ppc</option>
<option value="ppc64">ppc64</option>
<option value="s390">s390</option>
<option value="s390x">s390x</option>
<option value="sh3">sh3</option>
<option value="sh3eb">sh3eb</option>
<option value="sh4">sh4</option>
<option value="sh4eb">sh4eb</option>
<option value="sparc">sparc</option>
<option value="sparc64">sparc64</option>
