<div class="container top-bar top-buffer">
  <div class="row small-buffer">
    <div class="col l2 m12 s12">
      <h5 class="sideheader">
        {{ include.header }}
      </h5>
    </div>
    <div class="col s10">
      {% if include.comment %}
        <div class="flow-text" style="font-size: 20px; font-style: italic;">
          {{ include.comment | markdownify }}
        </div>
      {% endif %}
      <ul class="collection" id="{{ include.tag }}" style="border-color: transparent;">
      </ul>
    </div>
  </div>
</div>

<script src="{{ site.baseurl }}/js/{{ include.js }}.js"></script>
