
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="./">Overview</a></li>
        <li><a href="#codes">Codes</a></li>
        <li><a href="#people">People</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- 
            Placeholder for Chimad Logo
            it is on the page too many times
        -->
        <image height="60px" src="{{site.baseurl}}/images/chimad.png"/>
     </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="header">CHiMaD Phase Field Community</h1>
      <h4><i>A place for Software, Data, and Discussion.</i></h4>
    </div>
  </div>
</div>

<div id="examples">
  <div id="examples-deep">
  </div>
</div>

<script src="{{ site.baseurl }}/js/d3.min.js"></script>
<script src="{{ site.baseurl }}/js/hexbin.js"></script>
<script src="{{ site.baseurl }}/js/phase_field_hexbin.js"></script>

<div class="container top-bar top-buffer">
  <div class="row small-buffer">
    <div class="col-md-2">
      <h2 class="sideheader">Codes</h2>
    </div>
    <div class="col-md-10">
      <div class="row-fluid" id="codes">
        
      </div>
    </div>
  </div>
</div>

<script src="{{ site.baseurl }}/js/templates.js"></script>
<script src="{{ site.baseurl }}/js/codes.js">



