
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="./">Overview</a></li>
        <li><a href="#codes">Codes</a></li>
        <li><a href="#people">People</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- 
            Placeholder for Chimad Logo
            it is on the page too many times
        -->
        <image height="60px" src="{{site.baseurl}}/images/chimad.png"/>
     </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="header">CHiMaD Phase Field Community</h1>
      <h4><i>A place for Software, Data, and Discussion.</i></h4>
    </div>
  </div>
</div>

<div id="examples">
  <div id="examples-deep">
  </div>
</div>

<script src="{{ site.baseurl }}/js/d3.min.js"></script>
<script src="{{ site.baseurl }}/js/hexbin.js"></script>
<script src="{{ site.baseurl }}/js/phase_field_hexbin.js"></script>

<div class="container top-bar top-buffer">
  <div class="row small-buffer">
    <div class="col-md-2">
      <h2 class="sideheader">Codes</h2>
    </div>
    <div class="col-md-10">
      <!-- <-- <div class="container-fluid small-buffer"> -\-> -->
      <div class="row-fluid">
        <div class="col-md-4">
          <div class="card">
            <div class="logo">
              <img src="images/FiPy_logo.jpg">
            </div>
            <h4 class="codeheader">FiPy</h4>
            <p>Finite Volume code written in Python and started in 2003.</p>
            <h5>Recent Stats</h5>
            <table class="indent">
              <tr>
                <td>Commits:</td>
                <td>12</td>
              </tr>
              <tr>
                <td>Contributors:&nbsp;</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Fixes:</td>
                <td>10/100 (10%)</td>
              </tr>
            </table> 
            <h5>Since Inception</h5>
            <table class="indent">
              <tr>
                <td>Commits:</td>
                <td>5999</td>
              </tr>
              <tr>
                <td>Contributors:&nbsp;</td>
                <td>12</td>
              </tr>
              <tr>
                <td>Fixes:</td>
                <td>50/100 (50%)</td>
              </tr>
            </table> 
            <div class="icons">
              <a href="http://www.ctcms.nist.gov/fipy/" title="Home Page">
                <i class="fa fa-home fa-2x"></i>
              </a>
              <a href="http://www.ctcms.nist.gov/fipy/" title="GitHub">
                <i class="fa fa-github fa-2x"></i>
              </a>
              <a href="https://www.openhub.net/p/fipy" title="OpenHub">
                <img src="images/OH_logo-24x24.png" class="icon">
              </a>
              <a href="http://build.cmi.kent.edu:8010/waterfall" title="Test Suite">
                <i class="fa fa-tasks fa-2x"></i>
              </a>
            </div>
          </div>
         </div>
         <div class="col-md-4">
           <div class="card">
             <h4>Moose</h4>
           </div>
         </div>
         <div class="col-md-4">
           <div class="card">
             <h4>Dealii</h4>
           </div>
         </div>
      </div>
      <div class="row-fluid">
        <div class="col-md-4">
          <div class="card">
            <h4>FEniCS</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



