
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="./">Overview</a></li>
        <li><a href="#codes">Codes</a></li>
        <li><a href="#people">People</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- 
            Placeholder for Chimad Logo
            it is on the page too many times
        -->
        <image height="60px" src="{{site.baseurl}}/images/chimad.png"/>
     </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="header">CHiMaD Phase Field Community</h1>
      <h4><i>A place for Software, Data, and Discussion.</i></h4>
    </div>
  </div>
</div>

<div id="examples">
  <div id="examples-deep">
  </div>
</div>

<script src="{{ site.baseurl }}/js/d3.min.js"></script>
<script src="{{ site.baseurl }}/js/hexbin.js"></script>
<script src="{{ site.baseurl }}/js/phase_field_hexbin.js"></script>

<div class="container top-bar top-buffer">
  <div class="row small-buffer">
    <div class="col-md-2">
      <h2>Codes</h2>
    </div>
    <div class="col-md-10">
      <!-- <-- <div class="container-fluid small-buffer"> -\-> -->
      <div class="row-fluid">
        <div class="col-md-4">
          <div class="card">
            <h4 class="codeheader">FiPy</h4> 
            <p>Finite Volume code written in Python and started in 2003.</p>
            <h5>Recent stats</h5>
            <p class="indent">
              Commits: 12<br>
              Contributors: 12 </br>
              Fixes: 10/100 (10%) </br>
            </p>
            <h5>Since Inception</h5>
            <p class="indent">
              Commits: 5000 </br>
              Contributors: 12 </br>
              Fixes: 200/300 (67%)
            </p>
          </div>
         </div>
         <div class="col-md-4">
           <div class="card">
             <h4>Moose</h4>
           </div>
         </div>
         <div class="col-md-4">
           <div class="card">
             <h4>Dealii</h4>
           </div>
         </div>
      </div>
      <div class="row-fluid">
        <div class="col-md-4">
          <div class="card">
            <h4>Another code</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



