<footer class="page-footer light-green lighten-1">
  <div class="container">
    <div class="footer-copyright light-green lighten-1">
      <div class="container">
        <ul class="footer-nav">
          <li><a class="grey-text text-lighten-4"
             target="_blank"
             href="{{ site.links.contributors }}">
            PFHub Developers
          </a></li>
          <li><a class="grey-text text-lighten-4 right"
                 target="_blank"
                 href="{{ site.links.license }}"
                 id="license">
              NIST License
          </a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
