<footer class="page-footer light-green lighten-1">
  <div class="container">
    <div class="footer-copyright light-green lighten-1">
      <div class="container">
        <a class="grey-text text-lighten-4"
           target="_blank"
           href="https://github.com/usnistgov/chimad-phase-field/graphs/contributors">Developed
        by members of the CHiMaD phase field community</a>
        <a class="grey-text text-lighten-4 right"
           target="_blank"
           href="https://github.com/usnistgov/chimad-phase-field/blob/nist-pages/LICENSE">
          MIT License
        </a>
      </div>
    </div>
  </div>
</footer>
