<div class="row">
  <h5>
    Author
  </h5>
  <div class="input-field col s6 m6 l6 xl5">
    <i class="material-icons prefix">account_circle</i>
    <input required
	   id="first"
           name="fields[metadata][author][first]"
           type="text"
           class="validate"
	   length="200">
    <label for="author">First Name</label>
  </div>
  <div class="input-field col s6 m6 l6 xl5">
    <!-- <i class="material-icons prefix">account_circle</i> -->
    <input required
	   id="last"
           name="fields[metadata][author][last]"
           type="text"
           class="validate"
	   length="200">
    <label for="email">Last Name</label>
  </div>
  <div class="input-field col s12 m6 l6 xl5">
    <i class="material-icons prefix">email</i>
    <input required
	   id="email"
           name="fields[metadata][email]"
           type="email"
           class="validate"
	   length="260">
    <label for="email">Author Email</label>
  </div>
</div>
