<div class="row top-bar-thin test">
  <h5>
    Data Files
  </h5>
  <div id='data-files'>
  </div>
  <a id="data-add"
     href="#!"
     class="btn-floating btn-medium light-green darken-1">
    <i class="material-icons">add</i>
  </a>
</div>

<div class="row top-bar-thin test">
  <h5>
    Media Files
  </h5>
  <div id='media-files'>
  </div>
  <a id="media-add"
     href="#!"
     class="btn-floating btn-medium light-green darken-1">
    <i class="material-icons">add</i>
  </a>
</div>


  <!--   <input id="youtube" -->
  <!--          name="fields[data][2][url]" -->
  <!--          type="text" -->
  <!--          class="validate" -->
  <!--          pattern="^(?:https?:\/\/)?(?:m\.|www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$"> -->
  <!--   <label for="youtube"> -->
  <!--     Youtube URL -->
  <!--     <a class="tooltipped" -->
  <!--        data-position="bottom" -->
  <!--        data-tooltip="A youtube movie of the simulation evolving to be displayed on the simulation landing page"> -->
  <!--       <i class="tiny material-icons">help</i> -->
  <!--     </a> -->
  <!--   </label> -->
  <!-- </div> -->
