<div class="row small-buffer top-bar-thin">
  <h5>
    Overview
  </h5>
  <div class="row hide">
    <div class="input-field col s6 m6 l6 xl6">
      <a class="tooltipped prefix"
         data-position="bottom"
         data-tooltip="Benchmark Project CoRR id">
        <i class="material-icons">insert_drive_file</i>
      </a>
      <input
  	   id="project_id"
             name="project-id"
             type="text">
      <label class="active" for="project_id">
        Project Identifier
      </label>
    </div>
    <div class="input-field col s6 m6 l6 xl6">
      <a class="tooltipped prefix"
         data-position="bottom"
         data-tooltip="Generated Record Identifier">
        <i class="material-icons">save</i>
      </a>
      <input
  	   id="record_id"
             name="record-id"
             type="text">
      <label class="active" for="record_id">
        Record Identifier
      </label>
    </div>
  </div>
  <div class="input-field col s12 m5 l5 xl4 medium-buffer">
    <a class="tooltipped prefix"
       data-position="bottom"
       data-tooltip="Name for this upload using alphanumeric characters and _, but at least 2 characters long (required)">
      <i class="material-icons">help</i>
    </a>
    <input required
	   id="simulation_name"
           name="options[simulation_name]"
           class="validate"
           type="text"
	   length="64"
           pattern="^[\w]{2,64}$">
    <label for="simulation_name">
      Short Name
    </label>
  </div>

  <div class="input-field col s12 m2 l2 xl2 medium-buffer">
    <select required
	    id="benchmark_id"
            name="fields[benchmark][id]"
            type="text">
      {% for item in site.data.benchmarks %}
        {% for variation in item.revisions[0].variations %}
          {% capture id %}{{ item.num }}{{ variation }}{% endcapture %}
          <option value="{{ id }}" id="option_{{ id }}">
            {{ id }}
          </option>
        {% endfor %}
      {% endfor %}
    </select>
    <label class="active" for="benchmark_id">Benchmark ID</label>
    <input id="version_input"
           name="fields[benchmark][version]"
           type="hidden"
           value="1">
  </div>

  <div class="input-field col s12 m5 l5 xl4 medium-buffer">
    <a class="tooltipped prefix"
       data-position="bottom"
       data-tooltip="Date that the simulation execution finished (required)">
      <i class="material-icons">today</i>
    </a>
    <input required
	   id="timestamp"
           name="fields[metadata][timestamp]"
           class="datepicker"
           type="date">
    <label class="active" for="timestamp">
      Execution Date
    </label>
  </div>
</div>

<div class="row">
  <div class="input-field col s12 m12 l12 xl10">
    <a class="tooltipped prefix"
       data-position="bottom"
       data-tooltip="Summary of this contribution, highlighting important differences from existing results (required)">
      <i class="material-icons">mode_edit</i>
    </a>
    <textarea required
	      id="summary"
              name="fields[metadata][summary]"
              class="materialize-textarea validate active"
              type="text"
	      length="500"></textarea>
    <label class="active" for="summary">
      Summary
    </label>
  </div>
</div>
