<div class="row top-bar-thin">
  <h5>
    Efficiency Data
  </h5>
  <div class="input-field col s12 m6 l6 xl5">
    <a class="tooltipped prefix"
       data-position="bottom"
       data-tooltip="The wall clock time (real world time, not simulation time) for this result in seconds (required)">
      <i class="material-icons">help</i>
    </a>
    <input name="fields[data][0][name]"
           type="hidden"
           value="run_time">
    <input required
	   id="wall_time"
           name="fields[data][0][values][0][wall_time]"
           type="number"
           step="any"
           class="validate"
           min="0">
    <label for="wall_time">
      Wall Clock Time (s)
    </label>
  </div>
  <div class="input-field col s12 m6 l6 xl5">
    <a class="tooltipped prefix"
       data-position="bottom"
       data-tooltip="The simulation end time (not real world time) in seconds for this result in seconds (required)">
      <i class="material-icons">help</i>
    </a>
    <input required
	   id="sim_time"
           name="fields[data][0][values][0][sim_time]"
           type="number"
           step="any"
           class="validate"
           min="0">
    <label for="sim_time">
      Simulation End Time (s)
    </label>
  </div>
</div>

<div class="row">
  <div class="input-field col s12 m6 l6 xl5">
    <a class="tooltipped prefix"
       data-position="bottom"
       data-tooltip="The memory usage in total across all nodes in KB (required)">
      <i class="material-icons">help</i>
    </a>
    <input name="fields[data][1][name]"
           type="hidden"
           value="memory_usage">
    <input name="fields[data][1][values][0][unit]"
           type="hidden"
           value="KB">
    <input required
	   id="memory_usage"
           name="fields[data][1][values][0][value]"
           type="number"
           class="validate"
           min="0"
           step="any">
    <label for="memory_usage">
      Memory Usage (KB)
    </label>
  </div>
</div>
