<div class="row">
  <h5>
    Author
  </h5>
  <div class="input-field col s12 m6 l6 xl5">
    <a class="tooltipped prefix"
       data-position="bottom"
       data-tooltip="Primary author's given name (required)">
      <i class="material-icons">account_circle</i>
    </a>
    <input required
	   id="first"
           name="fields[metadata][author][first]"
           type="text"
           class="validate"
	   length="200">
    <label for="first">Given Name</label>
  </div>
  <div class="input-field col s12 m6 l6 xl5">
    <a class="tooltipped prefix"
       data-position="bottom"
       data-tooltip="Primary author's surname (required)">
      <i class="material-icons">account_circle</i>
    </a>
    <input required
	   id="last"
           name="fields[metadata][author][last]"
           type="text"
           class="validate"
	   length="200">
    <label for="last">Surname</label>
  </div>
  <div class="input-field col s12 m6 l6 xl5">
    <a class="tooltipped prefix"
       data-position="bottom"
       data-tooltip="Primary author's email (required)">
      <i class="material-icons">email</i>
    </a>
    <input required
	   id="email"
           name="fields[metadata][author][email]"
           type="email"
           class="validate"
	   length="260">
    <label for="email">Email</label>
  </div>
  <div class="input-field col s12 m6 l6 xl5">
    <a class="tooltipped prefix"
       data-position="bottom"
       data-tooltip="Primary author's GitHub ID (required)">
      <i class="material-icons">
        <img class="github-circle" src="{{ site.baseurl }}/images/github-grey.svg" alt="GitHub">
      </i>
    </a>
    <input required
	   id="github_id" name="fields[metadata][author][github_id]"
           type="text" class="validate" length="200">
    <label for="github_id">GitHub ID</label>
  </div>

</div>
