<div class="row top-bar-thin">
  <h5>
    Implementation
  </h5>

  <div class="input-field col s12 m6 l6 xl5">
    <a class="tooltipped prefix"
       data-position="bottom"
       data-tooltip="Name of code used to run the simulation (required)">
      <i class="material-icons">help</i>
    </a>
    <input required
	   id="code_name"
           name="fields[metadata][implementation][name]"
           class="validate"
           type="text"
	   length="32">
    <label for="code_name">
      Name of Code
    </label>
  </div>

  <div class="input-field col s12 m6 l6 xl5">
    <a class="tooltipped prefix"
       data-position="bottom"
       data-tooltip="URL for the code repository used to run the simulation (required)">
      <i class="material-icons">help</i>
    </a>
    <input required
	   id="sim_url"
           name="fields[metadata][implementation][repo][url]"
           type="url"
           class="validate">
    <label for="sim_url">
      Repository URL
    </label>
  </div>
</div>

<div class="row">
  <div class="input-field col s12 m6 l6 xl5">
    <a class="tooltipped prefix"
       data-position="bottom"
       data-tooltip="The specific commit identifier (SHA hash) for the code used to run the simulation (required)">
      <i class="material-icons">help</i>
    </a>
    <input required
	   id="sim_sha"
           name="fields[metadata][implementation][repo][version]"
           type="text"
           class="validate"
	   length="40"
           pattern="[0-9a-f]{5,40}">
    <label for="sim_sha">
      Commit ID (SHA)
    </label>
  </div>

  <div class="input-field col s12 m6 l6 xl5">
    <a class="tooltipped prefix"
       data-position="bottom"
       data-tooltip="Link to a container (e.g. Dockerfile) to reproduce this result (optional)">
      <i class="material-icons">help</i>
    </a>
    <input id="container_url"
           name="fields[metadata][implementation][container_url]"
           type="url"
           class="validate">
    <label for="container_url">
      Container URL
    </label>
  </div>
</div>
