<div class="row top-bar-thin">
  <h5>
    Data Files
  </h5>
</div>



<div class="row top-bar-thin">
  <h5>
    Data Files
  </h5>
  <div class="input-field col s5">
    <input name="fields[data][2][name]"
           type="hidden"
           value="free_energy">
    <input required
	   id="free_energy_url"
           name="fields[data][2][url]"
           type="url"
           class="validate">
    <label for="free_energy_url">
      Free Energy Data URL (CSV, JSON)
      <a class="tooltipped"
         data-position="bottom"
         data-tooltip="Free energy data either in CSV of JSON
         format. CSV requires both 'time' and 'free_energy'
         fields. JSON should be formatted as a list with each
         item having 'time' and 'free_energy' keys.">
        <i class="tiny material-icons">help</i>
      </a>
    </label>
  </div>
  <div class="col s5">
    <input name="fields[data][2][format][parse][time]"
           type="hidden"
           value="number">
    <input name="fields[data][2][format][parse][free_energy]"
           type="hidden"
           value="number">
    <input name="fields[data][2][transform][0][type]"
           type="hidden"
           value="filter">
    <input name="fields[data][2][transform][0][test]"
           type="hidden"
           value="datum.time > 0.01">
    <p>
      <input required checked="checked" class="with-gap" name="fields[data][2][format][type]" type="radio" value="csv" id="csv3" />
      <label for="csv3">CSV</label>
    </p>
    <p>
      <input class="with-gap" name="fields[data][2][format][type]" type="radio" value="json" id="json1" />
      <label for="json1">JSON</label>
    </p>
  </div>
</div>


<div class="row">
  <div class="input-field col s5">
    <input name="fields[data][3][name]"
           type="hidden"
           value="cut_plane_x">
    <input id="cut_plane_x_url"
           name="fields[data][3][url]"
           type="url"
           class="validate">
    <label for="cut_plane_x">
      Cut Plane X URL (CSV, JSON)
      <a class="tooltipped"
         data-position="bottom"
         data-tooltip="Cut plane data in the x direction either in CSV of JSON
         format. CSV requires both 'x' and 'concentration'
         fields. JSON should be formatted as a list with each
         item having 'x' and 'concentration' keys.">
        <i class="tiny material-icons">help</i>
      </a>
    </label>
  </div>
  <div class="col s5">
    <input name="fields[data][3][format][parse][x]"
           type="hidden"
           value="number">
    <input name="fields[data][3][format][parse][concentration]"
           type="hidden"
           value="number">
    <p>
      <input required checked="checked" class="with-gap" name="fields[data][3][format][type]" type="radio" value="csv" id="csv1" />
      <label for="csv1">CSV</label>
    </p>
    <p>
      <input class="with-gap" name="fields[data][3][format][type]" type="radio" value="json" id="json2" />
      <label for="json2">JSON</label>
    </p>
  </div>
</div>


<div class="row">
  <div class="input-field col s5">
    <input name="fields[data][4][name]"
           type="hidden"
           value="cut_plane_y">
    <input id="cut_plane_y_url"
           name="fields[data][4][url]"
           type="url"
           class="validate">
    <label for="cut_plane_y">
      Cut Plane Y URL (CSV, JSON)
      <a class="tooltipped"
         data-position="bottom"
         data-tooltip="Cut plane data in the y direction either in CSV of JSON
         format. CSV requires both 'y' and 'concentration'
         fields. JSON should be formatted as a list with each
         item having 'y' and 'concentration' keys.">
        <i class="tiny material-icons">help</i>
      </a>
    </label>
  </div>
  <div class="col s5">
    <input name="fields[data][4][format][parse][y]"
           type="hidden"
           value="number">
    <input name="fields[data][4][format][parse][concentration]"
           type="hidden"
           value="number">
    <p>
      <input required checked="checked" class="with-gap" name="fields[data][4][format][type]" type="radio" value="csv" id="csv2" />
      <label for="csv2">CSV</label>
    </p>
    <p>
      <input class="with-gap" name="fields[data][4][format][type]" type="radio" value="json" id="json3" />
      <label for="json3">JSON</label>
    </p>
  </div>
</div>



  <!-- <div class="input-field col s5"> -->
  <!--   <input name="fields[data][2][name]" -->
  <!--          type="hidden" -->
  <!--          value="youtube"> -->
  <!--   <input id="youtube" -->
  <!--          name="fields[data][2][url]" -->
  <!--          type="text" -->
  <!--          class="validate" -->
  <!--          pattern="^(?:https?:\/\/)?(?:m\.|www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$"> -->
  <!--   <label for="youtube"> -->
  <!--     Youtube URL -->
  <!--     <a class="tooltipped" -->
  <!--        data-position="bottom" -->
  <!--        data-tooltip="A youtube movie of the simulation evolving to be displayed on the simulation landing page"> -->
  <!--       <i class="tiny material-icons">help</i> -->
  <!--     </a> -->
  <!--   </label> -->
  <!-- </div> -->
