<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>CHiMaD Phase Field Community</title>

<!-- Use d3 to replace jquery stuff -->
<script src="{{site.baseurl}}/js/d3.min.js"></script>
<!-- The templates can be replaced with another tool -->
<script src="{{site.baseurl}}/js/handlebars.min.js"></script>



<style>
  /** You could use other style sheets or sassify 
  existing sheets like bootstrap or foundation **/
  @import "{{ site.baseurl }}/css/bootstrap.min.css";
  @import "http://fonts.googleapis.com/css?family=Lato";
  @import "{{ site.baseurl }}/css/chimad.css";
  @import "{{ site.baseurl }}/css/hexbin.css";
</style>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
