<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">


<title>CHiMaD Phase Field Community</title>

<!-- Use d3 to replace jquery stuff -->
<script src="{{site.baseurl}}/js/d3.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.2.7/js-yaml.min.js"></script>

<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'usnistgov/chimad-phase-field'
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/css/materialize.min.css"  media="screen"/>

<style>
  /** You could use other style sheets or sassify
  existing sheets like bootstrap or foundation **/
  @import "https://fonts.googleapis.com/css?family=Lato";
  @import url(https://fonts.googleapis.com/css?family=Droid+Sans);
  @import "{{ site.baseurl }}/css/chimad.css";
  @import "{{ site.baseurl }}/css/hexbin.css";
</style>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
