<ul id="dropdown1" class="dropdown-content">
  <li><a href="{{ site.baseurl }}/ABOUT" class="navbar-text">Overview</a></li>
  <li><a href="{{ site.baseurl }}/INVOLVEMENT" class="navbar-text">Get Involved</a></li>
  <li><a href="{{ site.baseurl }}/community" class="navbar-text">Community</a></li>
  <li><a href="{{ site.baseurl }}/CODE_OF_CONDUCT">Code of Conduct</a></li>
  <li><a href="{{ site.baseurl }}/codes">Suggested Codes</a></li>
</ul>

<nav class="light-green lighten-2">
  <div class="nav-wrapper container">

    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul class="left hide-on-med-and-down">
      <li><a href="{{ site.baseurl }}/"
             title="Home">
          <i class="medium material-icons">home</i>
      </a></li>
      <li><a href="{{ site.baseurl }}/simulations" class="navbar-text">Benchmarks</a></li>
      <li><a href="{{ site.links.wiki }}" class="navbar-text">Wiki</a></li>
      <li>
        <a href="{{ site.baseurl }}/ABOUT"
           data-activates="dropdown1"
           data-belowOrigin="true"
           data-hover="true"
           class="dropdown-button navbar-text">
          About
          <i class="material-icons tiny right">
            arrow_drop_down
          </i>
        </a>
      </li>

    </ul>

    <ul class="side-nav" id="mobile-demo">
      <li><a href="{{ site.baseurl }}/"
             title="Home">
          <i class="medium material-icons">home</i>
      </a></li>

      <li><a href="{{ site.baseurl }}/simulations" class="navbar-text">Benchmarks</a></li>
      <li><a href="{{ site.baseurl }}/wiki" class="navbar-text">Wiki</a></li>
      <li><a href="{{ site.baseurl }}/ABOUT" class="navbar-text">Overview</a></li>
      <li><a href="{{ site.baseurl }}/INVOLVEMENT" class="navbar-text">Get Involved</a></li>
      <li><a href="{{ site.baseurl }}/community" class="navbar-text">Community</a></li>
      <li><a href="{{ site.baseurl }}/CODE_OF_CONDUCT" class="navbar-text">Code of Conduct</a></li>
      <li><a href="{{ site.baseurl }}/codes">Suggested Codes</a></li>
      <li><a href="{{ site.links.github }}" title="GitHub" class="navbar-text" target="_blank">GitHub</a></li>
      <li><a href="{{ site.baseurl }}/slack" title="Slack" class="navbar-text" target="_blank">Slack</a></li>

    </ul>

    <ul class="right hide-on-med-and-down">
      <li><a href="{{ site.baseurl }}/mailing_list/"
             title="Mailing List">
          <i class="medium material-icons">email</i>
      </a></li>
      <li><a target="_blank"
             href="{{ site.links.chat }}"
             title="Chat">
          <i class="medium material-icons">chat</i>
      </a></li>
      <li><a target="_blank"
             href="{{ site.links.github }}"
             title="GitHub">
          <i class="medium material-icons">
            <img class="github-circle"
                 src="{{ site.baseurl}}/images/circle.svg"
                 alt="Github">
          </i>
      </a></li>

      <li><a target="_blank"
             href="{{ site.baseurl }}/slack"
             title="Slack">
          <i class="medium material-icons">
            <img class="github-circle"
                 src="{{ site.baseurl }}/images/slack.svg"
                 alt="Slack">
          </i>
      </a></li>


    </ul>
  </div>
</nav>
