<nav class="light-green lighten-1">
  <div class="nav-wrapper container">
    <ul class="left hide-on-med-and-down">
      <li><a href="{{ site.baseurl }}/#overview">Overview</a></li>
      <li><a href="{{ site.baseurl }}/#codes">Codes</a></li>
      <li><a href="{{ site.baseurl }}/mailinglist/">Mailing List</a></li>
      <li><a href="{{ site.baseurl }}/workshop/">Workshop</a></li>
      <li><a href="{{ site.baseurl }}/#disqus_thread">Discuss</a></li>
    </ul>
    <ul class="right hide-on-med-down">
      <li><a href="https://github.com/usnistgov/chimad-phase-field">GitHub</a></li>
      <li><a href="http://chimad.northwestern.edu/" class="chimad-logo">CHiMaD</a></li>
    </ul>
  </div>
</nav>
