<nav class="light-green lighten-1">
  <div class="nav-wrapper container">
    <ul class="left hide-on-med-and-down">
      <li><a href="{{ site.baseurl }}/"
             title="home">
          <i class="medium material-icons">home</i>
      </a></li>
      <li><a href="{{ site.baseurl }}/#codes" class="navbar-text">Codes</a></li>
      <li><a href="{{ site.baseurl }}/#workshops" class="navbar-text">Workshops</a></li>
    </ul>
    <ul class="right hide-on-med-down">
      <li><a target="_blank"
             href="{{ site.baseurl }}/mailinglist/"
             title="mailing list">
          <i class="medium material-icons">email</i>
      </a></li>
      <li><a target="_blank"
             href="https://gitter.im/usnistgov/chimad-phase-field"
             title="open chat">
          <i class="medium material-icons">chat</i>
      </a></li>
      <li><a target="_blank"
             href="https://github.com/usnistgov/chimad-phase-field"
             title="github">
          <i class="medium material-icons">
            <img style="width: 28px; height: 28px" src="{{ site.baseurl}}/images/circle.svg" alt="Github">
          </i>
      </a></li>
      <li><a target="_blank"
             href="http://chimad.northwestern.edu/"
             class="chimad-logo navbar-text">CHiMaD</a></li>
    </ul>
  </div>
</nav>
