<div class="container top-bar top-buffer">
  <div class="row-fluid small-buffer">
    <div class="col-md-2">
      <h2 class="sideheader">Overview</h2>
    </div>
    <div class="col-md-8" id="overview">
      
      <p> In January 2015 a group of phase field theorists and
      developers met at Northwestern University to discuss ways that
      the community can improve code collaboration. Everyone agreed
      that the community needs to become more open and work in a more
      collaborative manner.</p>

      <p>One of the key factors in making the community more open is
      to have a resource to compare and contrast codes. This site aims
      to fulfill that need and become an important resource for phase
      field practitioners.</p>

    </div>
  </div>
</div>

