<div class="container">

  <div class="row top-buffer">
    <div class="col s12 m8 l8 xl4 offset-m2 offset-l2 offset-xl2">
      <div class="row">
        <h5 id="header">
        </h5>
      </div>

      <div class="row">
        <div class="chip" id="author">
        </div>
        <div class="chip" id="github_id">
        </div>
      </div>

      <div class="row top-buffer">
        <table class="bordered">
          <thead>
            <tr>
            </tr>
          </thead>
          <tbody id="table">
            <tr>
              <td>
                Benchmark
              </td>
              <td id="benchmark">
              </td>
            </tr>
            <tr>
              <td>
                Date
              </td>
              <td id="date">
              </td>
            </tr>
            <tr>
              <td>
                Software
              </td>
              <td id="software">
              </td>
            </tr>
            <tr>
              <td>
                Upload History
              </td>
              <td id="pull-request">
              </td>
            </tr>
            <tr>
              <td>
                Repository
              </td>
              <td id="repository">
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="flow-text"
             id="summary">
        </div>
      </div>
    </div>
    <div class="col s12 m8 l8 xl4 offset-m2 offset-l2 offset-xl1">
      <div class="row top-buffer" id="logo_image">
      </div>
    </div>
  </div>
</div>

<div class="container top-bar-thin">
  <div class="row small-buffer">
    <div class="col s12 m2 l2 xl2">
      <h5 class="sideheader">Results</h5>
    </div>
    <div class="col s12 m8 l8 xl4 small-buffer">
      <div class="row">
        <table class="bordered">
          <thead>
            <tr>
            </tr>
          </thead>
          <tbody id="results_table">
          </tbody>
        </table>
      </div>
    </div>

    <div class="col s12 m8 l8 xl3 offset-m2 offset-l2 offset-xl1">
      <div class="row small-buffer" id="youtube">
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col s12 m8 l8 xl8 offset-m2 offset-l2 offset-xl2" id="images">
    </div>
  </div>

  <div class="row">
    <div class="col s12 m8 l8 xl8 offset-m2 offset-l2 offset-xl2">
      <img id="plotly_div_0">
      <img id="plotly_div_1">
      <img id="plotly_div_2">
      <img id="plotly_div_3">
      <img id="plotly_div_4">
    </div>
  </div>
</div>

<script>
  var SIM_NAME = new URL(window.location.href).searchParams.get("sim");
  var CHART_DATA={{ site.data.charts.plot1d | jsonify }};
  var ALL_DATA={{ site.data.simulations | jsonify }};
  var CODES_DATA={{ site.data.codes | jsonify }};
  var AXES_NAMES={{ site.data.axes_names | jsonify }};
  var REPO={{ site.links.repo | jsonify }};
  var BENCHMARK_DATA={{ site.data.benchmarks | jsonify }};
</script>

<script src="{{ site.baseurl }}/js/simulation.js"></script>

<script>
  $(document).ready(function(){
  $('.materialboxed').materialbox();
  });
</script>
<script>
 $(document).ready(function(){
 $('.carousel').carousel();
 $("#plotly_div_0").hide();
 $("#plotly_div_1").hide();
 $("#plotly_div_2").hide();
 $("#plotly_div_3").hide();
 $("#plotly_div_4").hide();
  });
</script>

{% include ribbon.html %}
