<div class="container">
  <div class="row">
    <div class="col s12 m12 l12 xl10 offset-xl2">
      <h2 class="header">
        Benchmark {{ include.benchmark_id }} Results
      </h2>
      <h5>
        <i>All results for the
          <a href="{{ site.baseurl }}/benchmarks/benchmark{{ include.benchmark_id }}.ipynb/">
            {{ include.benchmark_id }} benchmark spec.
          </a>
        </i>
      </h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row small-buffer">
    <br>
    <div class="col s12 m12 l12 xl10 offset-xl2" id="free_energy_chart">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l12 xl10 offset-xl2">
      <div class="flow-text" style="font-size: 12px">
        Click and drag to pan, wheel or pinch to zoom and click on
        legend symbols to add or remove data.
      </div>
    </div>
  </div>
</div>

{% capture chart_path %}{{ include.benchmark_id | replace: '.', '' }}_free_energy{% endcapture %}
<script> var chart_json = {{ site.data.charts | jsonify }}["{{ chart_path }}"] </script>
<script> var div_id="#free_energy_chart" </script>
<script src="{{ site.baseurl }}/js/chart.js"></script>

<div class="container">
  <div class="row small-buffer">
    <br>
    <div class="col s12 m12 l12 xl10 offset-xl2" id="memory_chart">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l12 xl10 offset-xl2">
      <div class="flow-text" style="font-size: 12px">
        Click and drag to pan, wheel or pinch to zoom and click on
        legend symbols to add or remove data.
      </div>
    </div>
  </div>
</div>

{% capture chart_path %}{{ include.benchmark_id | replace: '.', '' }}_memory{% endcapture %}
<script> var chart_json = {{ site.data.charts | jsonify }}["{{ chart_path }}"] </script>
<script> var div_id="#memory_chart" </script>
<script src="{{ site.baseurl }}/js/chart.js"></script>


<div class="container top-bar top-buffer">
  <div class="row small-buffer">
    <div class="col s12 m12 l12 xl2">
      <h5 class="sideheader" id="simulations">Table of Results</h5>
    </div>
    <div class="col s12 m12 l12 xl10">
      <div class="flow-text" style="font-size: 20px">
        <i>Table of {{ include.benchmark_id }} benchmark result uploads</i>
      </div>
      <br>
      <table id="data_table" class="mdl-data-table striped" cellspacing="0"></table>
    </div>
  </div>
</div>


<script> var benchmark_id="{{ include.benchmark_id }}" </script>
<script src="{{ site.baseurl }}/js/data_table.js"></script>

{% include ribbon.html %}
