{% assign sim_data = site.data.simulations[include.sim_name].meta %}

<div class="container">
  <div class="row top-buffer">
    <div class="col s8 offset-s2">
      <h5>
        {{ include.sim_name }}
      </h5>

    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s2">
      <i class="material-icons prefix">account_circle</i>
    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="flow-text" style="font-size: 16px">
        {{ sim_data.metadata.summary }}
      </div>
    </div>
  </div>

</div>
