<div class="container">
  <div class="row">
    <div class="col s12 m12 l12 xl10 offset-xl2">
      <h2 class="header">
        {% if page.title %}
          {{ page.title }}
        {% else %}
          {{ site.title }}: {{ site.subtitle }}
        {% endif %}
      </h2>
      <h5><i>{{ page.comment }}</i></h5>
      <h5>
        {% if page.author %}
          by
          <a href="{{ page.author_url }}"
             target="_blank">
            {{ page.author }}
          </a>
        {% endif %}
      </h5>
    </div>
  </div>
</div>
