<h5> Wiki Links </h5>
<ul class="sidenav sidenav-fixed">
  <li><a class="truncate" href="{{ site.links.wiki }}/Home">Home</a></li>
  <li><a class="truncate" href="{{ site.links.wiki }}/Home#Workshops">Workshops</a></li>
  <li><a class="truncate" href="{{ site.links.wiki }}/Home#phase-field-benchmark--pfhub-publications">Publications</a></li>
  <li><a class="truncate" href="{{ site.links.wiki }}/Peter-Voorhees-Lectures">Phase Field Lectures</a></li>
  <li><a class="truncate" href="{{ site.links.wiki }}/Phase-Field-Method-Best-Practices">Best Practices Guide</a></li>
  <li><a class="truncate" href="{{ site.links.wiki }}/Home#citing-pfhub">Citing PFHub</a></li>
</ul>
