<h5> Wiki Pages </h5>
<ul class="sidenav sidenav-fixed">
  {% for file in site.pages %}
    {% if file.path == "wiki/index.md" %}
      <li><a class="truncate" href="{{ site.baseurl }}{{ file.url }}">{{ file.title }}</a></li>
      {% break %}
    {% endif %}
  {% endfor %}
  {% for file in site.pages %}
    {% if file.path == "wiki/index.md" %}
      {% continue %}
    {% endif %}
    {% assign f4 = file.path | slice: 0, 4 %}
    {% if f4 == 'wiki' %}
      <li><a class="truncate" href="{{ site.baseurl }}{{ file.url }}">{{ file.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
