<div class="container top-bar top-buffer">
  <div class="row small-buffer">
    <div class="col s2">
      <h4 class="sideheader">Workshops</h4>
    </div>
    <div class="col s10">
      <ul class="collection" id="workshops" style="border-color: transparent;">
        <!-- <li class="collection-item avatar light-green lighten-4" -->
        <!--     style="border-color: transparent; border-bottom-style: none; margin-bottom: 5px;"> -->
        <!--   <i class="circle">1</i> -->
        <!--   <span class="title"> -->
        <!--     <h5>January 2015</h5> -->
        <!--   </span> -->
        <!--   <p style="font-size: 20px"> -->
        <!--     Workshop held at Northwestern to discuss code collaboration -->
        <!--     in phase field modelling see the -->
        <!--     <a href="{{ site.baseurl }}/CHiMaD_PhaseFieldWorkshop.pdf" -->
        <!--        target="_blank" -->
        <!--        title="download pdf">PDF brochure</a> -->
        <!--     for more details. -->
        <!--   </p> -->
        <!-- </li> -->
      </ul>
    </div>
  </div>
</div>

<script src="{{ site.baseurl }}/js/workshops.js"></script>
