---
data:
  - name: code_uploads
    values:
{%- for key, value in data %}
      - name: {{ key }}
        count: {{ value }}
{%- endfor %}
width: 230
height: 115
padding:
  top: 40
  left: 0
  bottom: 40
  right: 0
signals:
  - name: tooltip
    value: {}
    "on":
      - events: "rect:mouseover"
        update: "datum"
      - events: "rect:mouseout"
        update: "{}"
scales:
  - name: xscale
    type: band
    range: width
    domain:
      data: code_uploads
      field: name
  - name: yscale
    range: height
    nice: true
    domain:
      data: code_uploads
      field: count
axes:
  - orient: bottom
    scale: xscale
    tickSize: 0
    domain: false
    encode:
      labels:
        update:
          angle:
            value: 50
          fontSize:
            value: 13
          font:
            value: Lato
          dx:
            value: 14
  - orient: left
    scale: yscale
    domain: false
    values: []
  - scale: xscale
    title: {{ title }}
    orient: top
    values: []
    domain: false
    titlePadding: 20
    encode:
      title:
        update:
          fontSize:
            value: 16
          font:
            value: Lato
marks:
  - type: rect
    from:
      data: code_uploads
    encode:
      enter:
        x:
          scale: xscale
          field: name
        width:
          scale: xscale
          band: true
          offset: -1
        y:
          scale: yscale
          field: count
        y2:
          scale: yscale
          value: 0
      update:
        fill:
          value: "#90caf9"
      hover:
        fill:
          value: "#f44336"
  - type: text
    encode:
      enter:
        align:
          value: center
        fill:
          value: "#333"
      update:
        fontSize:
          value: 12
        font:
          value: Lato
        fillOpacity:
          value: 1
        x:
          scale: xscale
          signal: tooltip.name
          band: 0.5
        y:
          scale: yscale
          signal: tooltip.count
          offset: -5
        text:
          signal: tooltip.count
