---
width: 500
height: 300
signal:
  - name: hover
    init: null

axes:
  - type: x
    scale: x
    values: {{ marks.x }}
    format: ".0e"
    formatType: number
    title: "Time"
  - type: y
    scale: y
    values: {{ marks.y }}
    format: ".0e"
    formatType: number
    title: "Free Energy"
  - type: x
    grid: true
    tickSize: 0
    scale: x
    properties:
      labels:
        text: ""
  - type: y
    grid: true
    tickSize: 0
    scale: y
    properties:
      labels:
        text: ""
  - type: x
    scale: x
    title: Free Energy for Benchmark {{ id_ }}
    orient: top
    values: []
    properties:
      title:
        fontSize:
          value: 20
      axis:
        strokeOpacity:
          value: 0
scales:
  - name: x
    nice: true
    type: log
    range: width
    domain: [{{ marks.x | first }}, {{ marks.x | last }}]
  - name: y
    nice: true
    type: log
    range: height
    domain: [{{ marks.y | first }}, {{ marks.y | last }}]
  - name: color
    range: category10
    type: ordinal
    domain:
{%- for datum in data %}
      - {{ datum.name }}
{%- endfor %}
legends:
  - title: Simulations
    fill: color
marks:
{%- for datum in data %}
  - type: line
    from:
      data: {{ datum.name }}
    properties:
      enter:
        x:
          scale: x
          field: time
        y:
          scale: y
          field: free_energy
        stroke:
          scale: color
          value: {{ datum.name }}
        strokeWidth:
          value: 2
        strokeOpacity:
          value: 1.0
{%- endfor %}
data:
{{ data | to_yaml() }}
