---
width: 560
height: 187
padding: 0
data:
  - name: images
    values:
{%- for datum in data %}
      - path: "{{ datum.path }}"
        row: {{ datum.row }}
        col: {{ datum.col }}
        link: {{ datum.link }}
        height: 90
        width: 170
{%- endfor %}
scales:
  - name: x
    type: ordinal
    domain:
      data: images
      field: col
    range: width
  - name: y
    type: ordinal
    domain:
      data: images
      field: row
    range: height
marks:
  - name: example
    type: group
    from:
      data: images
    properties:
      enter:
        width:
          band: true
          scale: x
          offset: -5
        height:
          band: true
          scale: y
          offset: -5
        x:
          scale: x
          field: col
        y:
          scale: y
          field: row
        clip:
          value: true
        fill:
          value: #fff
    marks:
      - type: image
        properties:
          enter:
            width:
              field:
                parent: width
            height:
              field:
                parent: height
            url:
              field:
                parent: path
            align:
              value: left
            baseline:
              value: center
          hover:
            cursor:
              value: pointer
      - type: rect
        properties:
          enter:
            x:
              value: 0
            y:
              value: 0
            width:
              field:
                group: width
            height:
              field:
                group: height
          update:
            strokeWidth:
              - test: "parent._id == active._id"
                value: 4
              - value: 1
            stroke:
              - test: "parent._id == active._id"
                value: "#d5a928"
              - value: "#888888"
          hover:
            cursor:
              value: pointer
      - type: text
        properties:
          enter:
            align:
              value: center
            dx:
              value: 68
            dy:
              value: 50
          update:
            text:
              template: "Benchmark {% raw %} {{ parent.link }} {% endraw %}"
            fontSize:
              - test: "parent._id == active._id"
                value: 14
              - value: 12
            fill:
              - test: "parent._id == active._id"
                value: "#d5a928"
              - value: "#888888"
            fontWeight:
              - test: "parent._id == active._id"
                value: "bold"
              - value: "normal"
          hover:
            cursor:
              value: pointer


signals:
  - name: active
    init: {}
    streams:
      - type: "image:mouseover, group:mouseover, group:mouseout, rect:mouseover, text:mouseover"
        expr: "eventGroup().datum"
      - type: "body:mouseout"
        expr: "{}"
