---
layout: default
title: "Benchmarks"
comment: >-
  Links to specs and results for all benchmarks
---

{% include title.html %}

<div class="container">
  <div class="row small-buffer">
    <div class="col s12 m12 l12 xl8 offset-xl2">
      <div class="flow-text">
        Please feel free to submit your own benchmark results using
        the
        <a href="{{ site.baseurl }}/simulations/upload_form">
          benchmark upload form
        </a>.
        This site aims to provide a facility for practitioners
        to upload results from their phase field codes to compare and
        contrast with results from other phase field codes. Phase
        field enthusiasts are encouraged to upload benchmark results.
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row small-buffer">
    <div class="col s12 m12 l12 xl8 offset-xl2">
      <h5 id="total_uploads">
      </h5>
    </div>
    <div class="col s12 m6 l5 xl4 offset-xl2">
      <div id="upload_code_barchart">
      </div>
    </div>
    <div class="col s12 m6 l5 xl4">
      <div id="upload_benchmark_barchart">
      </div>
    </div>
  </div>
</div>

<script src="{{ site.baseurl }}/js/upload_barchart.js"></script>

{% include benchmarks.html upload=true %}

<div class="container top-bar-thin top-buffer">
  <div class="row small-buffer">
    <div class="col s12 m12 l12 xl2">
      <h5 class="sideheader" id="simulations">Benchmark Results</h5>
    </div>
    <div class="col s12 m12 l12 xl10">
      <div class="flow-text">
        <i>Table of all uploads</i>
      </div>
      <br>
      <table id="data_table" class="mdl-data-table striped" cellspacing="0"></table>
    </div>
  </div>
</div>


<script> var BENCHMARK_ID="" </script>
<script src="{{ site.baseurl }}/js/data_table.js"></script>

{% include ribbon.html %}
