---
layout: default
---

<div class="col s0 m0 l0 xl12" id="wiki-nav">
  {% include wiki-nav.html %}
</div>

<div class="container" id="wiki-container">
  <div class="row">
    <div class="col s12 m12 l12 xl12">
      <div id="wiki-button">
        <a class="btn-small" href="{{ site.new_edit }}">Create new page</a> |
        <a class="btn-small" href="{{ site.prose_edit }}/{{ page.path }}">Edit</a> |
        <a data-proofer-ignore class="btn-small" href="{{ site.source_edit }}/{{ page.path }}">Source</a> |
        <a data-proofer-ignore class="btn-small" href="{{ site.history_edit }}/{{ page.path }}">History</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l12 xl12">
      <div id="toc">
      </div>
      <h1>
        {{ page.title }}
      </h1>
      {{ content }}
    </div>
  </div>
</div>

<div class="container">
  <div class="col s0 m0 l0 xl12" id="wiki-nav-bottom">
    {% include wiki-nav.html %}
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#toc').toc({minimumHeaders: 2});
});
</script>
