---
name: surge
on:
  workflow_run:
    workflows:
      - pullrequest
    types:
      - completed
jobs:
  surge:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    steps:

      - uses: actions/checkout@v2.3.4

      # Get the pull-request number
      - name: download-pr
        uses: dawidd6/action-download-artifact@v2
        with:
          run_id: ${{ github.event.workflow_run.id }}
          name: pr_number
      - run: echo "PRNUM=$(cat pr_number)" >> $GITHUB_ENV
      - run: echo "DOMAIN=random-cat-${{ env.PRNUM }}.surge.sh" >> $GITHUB_ENV
      - run: echo "LOGIN=$(cat login)" >> $GITHUB_ENV

      - uses: cachix/install-nix-action@v14.1
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          name: pfhub
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          extraPullNames: nix-community

      # Can't use pfhub sub domain here so need to change baseurl:
      # 'pfhub' to baseurl: ''. jekyll build no longer takes a
      # --baseurl arugment.
      - run: >
          sed -i "2s/.*/baseurl: ''/" _config.yml

      # Push to Surge
      - env:
          SURGE_LOGIN: "${{ secrets.SURGE_LOGIN }}"
          SURGE_TOKEN: "${{ secrets.SURGE_TOKEN }}"
        run: |
          nix-shell shell-surge.nix --command " \
            rm -rf ./_site && \
            jekyll build && \
            surge --project _site --domain ${{ env.DOMAIN }} \
          "

      # Comment back to the PR with link to Surge
      - name: comment
        uses: peter-evans/create-or-update-comment@v2
        with:
          issue-number: ${{ env.PRNUM }}
          token: ${{ secrets.PFHUB_UPLOAD_USER }}
          body: >-
            @${{ env.LOGIN }}, the new version of the PFHub website is available at https://${{ env.DOMAIN }}
