---
id: {{ implementation_url }}
benchmark_problem: {{ problem }}

benchmark_version: {{ benchmark_version }}

date_created: {{ date }}

schema:
  url: >-
    https://github.com/usnistgov/pfhub-schema/tree/2b06531/project

summary: >-
  {{ summary }}

contributors:
{{# contributors }}
  - id: {{ id }}
    name: {{ name }}
    affiliation: {{ affiliation }}
    email: {{ email }}
{{/ contributors }}

framework:
{{# framework }}
  - url: {{ url }}
    name: {{ name }}
    download: {{ download }}
    version: {{ version }}
{{/ framework }}

implementation:
  url: >-
    {{ implementation_url }}

results:
  csv_data:
    - name: free_energy.csv
      format: csv
      columns:
        - time
        - free_energy
{{# csv_data }}
    - name: {{ name }}
      format: csv
      columns:
      {{# columns }}
        - {{ name }}
      {{/ columns }}
{{/ csv_data }}
  hardware:
{{# hardware }}
    - architecture: {{ architecture }}
      cores: {{ cores }}
      nodes: {{ nodes }}
{{/ hardware }}
  fictive_time: {{ fictive_time }}
  memory_in_kb: {{ memory }}
  time_in_s: {{ wall_time }}
